<div>

  <div class="hcr-theme-default">

    <header class="hcr-header-3-0-0 hcr-header--unfixed-3-0-0 header-module--header--1SiOw">
      <div class="hcr-header__inner-3-0-0">
        <button class="hcr-header-nav-toggle-3-0-0" type="button"><span aria-hidden="true" class="hcr-icon-3-0-0"><svg
          class="hcr-svg-burger" role="img" viewBox="0 0 1000 1000"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path
          d="M916.7 500A20.8 20.8 0 0 1 895.8 520.8H104.2A20.8 20.8 0 0 1 104.2 479.2H895.8A20.8 20.8 0 0 1 916.7 500ZM104.2 270.8H895.8A20.8 20.8 0 0 0 895.8 229.2H104.2A20.8 20.8 0 0 0 104.2 270.8ZM895.8 729.2H104.2A20.8 20.8 0 0 0 104.2 770.8H895.8A20.8 20.8 0 0 0 895.8 729.2Z"></path></svg></span>
        </button>
        <div class="hcr-header-brand-3-0-0"><a class="hcr-header-brand__link-3-0-0" href="/"><img
          alt="FlixBus" class="hcr-header-brand__img-3-0-0"
          src="https://cdn-cf.cms.flixbus.com/drupal-assets/logos/flixbus.svg"></a></div>
        <div class="hcr-header-navbar-3-0-0">
          <div class="hcr-header-nav-wrapper-3-0-0">

            <div class="hcr-header-widgets-3-0-0 hcr-header-widgets--mobile-3-0-0">
              <nav>
                <ul class="hcr-header-nav-3-0-0 languageSwitcher-module--list--2gym4">
                  <li class="hcr-header-nav__item-3-0-0 hcr-header-nav__item--has-subnav-3-0-0"><span
                    aria-expanded="false" class="hcr-header-nav__link-3-0-0 hcr-header-nav__link--has-subnav" role="button"
                    tabindex="0"><span class="hcr-header-nav__text"><span><img
                    alt="Français flag"
                    class="languageSwitcher-module--flag--ZleNG languageSwitcher-module--borderDropdownWhite--1ZYhl lazyload fade" data-expand="-10"
                    data-src="https://cdn-cf.cms.flixbus.com/drupal-assets/language-icons/flags--fr.svg"
                    src=""><div>Français</div></span></span></span>
                    <div></div>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
        <div class="hcr-header-widgets-3-0-0 hcr-header-widgets--sticky-3-0-0">
          <nav>
            <ul
              class="hcr-header-nav-3-0-0 languageSwitcher-module--list--2gym4 languageSwitcher-module--hiddenMd--3LSZo">
              <li class="hcr-header-nav__item-3-0-0 hcr-header-nav__item--has-subnav-3-0-0"><span
                aria-expanded="false" class="hcr-header-nav__link-3-0-0 hcr-header-nav__link--has-subnav" role="button"
                tabindex="0"><span class="hcr-header-nav__text"><span><img
                alt="Français flag"
                class="languageSwitcher-module--flag--ZleNG languageSwitcher-module--borderDropdownWhite--1ZYhl fade lazyloaded" data-expand="-10"
                data-src="https://cdn-cf.cms.flixbus.com/drupal-assets/language-icons/flags--fr.svg"
                src="https://cdn-cf.cms.flixbus.com/drupal-assets/language-icons/flags--fr.svg"><div>Français</div></span></span></span>
                <div></div>
              </li>
            </ul>
          </nav>
          <div class="hcr-header-user-widget-3-0-0"><a class="hcr-avatar-3-0-0 hcr-header-user-widget__picture"
                                                       href="https://shop.flixbus.fr/user/login">
            <svg class="hcr-svg-profile" style="fill:white" viewBox="0 0 1000 1000"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="M500 208.3A136.5 136.5 0 0 0 375.5 354.2 136.5 136.5 0 0 0 500 499.7 136.5 136.5 0 0 0 624.4 353.9 136.5 136.5 0 0 0 500 208.3ZM500 83.3A416.7 416.7 0 0 0 208.3 797.3H208.3A417.4 417.4 0 0 0 250 832.8H250A416.7 416.7 0 1 0 500 83.3ZM786 742A234.4 234.4 0 0 0 636.5 531.7 36.9 36.9 0 0 0 623.3 529.2 38.3 38.3 0 0 0 599.3 537.8 159.3 159.3 0 0 1 397 537.8 38.3 38.3 0 0 0 373 529.5 36.2 36.2 0 0 0 359.8 531.9 238.1 238.1 0 0 0 209.6 736.8 375 375 0 1 1 786 742Z"></path>
            </svg>
          </a>
          </div>
        </div>
      </div>
    </header>

  </div>
</div>
