/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.marg{
  margin: 8px ;
}

.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
  margin-left: auto;
}

.total {
  font-size: 25px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}
